<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MatTerBuilder.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>MatTerInstaller.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>MatTerMaster-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>MatTerMasterTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>MatTerBuilder</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MatTerInstaller</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MatTerMaster</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MatTerMasterTest</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SharedCode</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
